@font-face {
    font-family: "Dusha V5";
    src: url(worldcupfont.ttf);
}

body {
    font-family: "Dusha V5";
}

iframe {
    border: 1px solid skyblue;
    border-bottom: 19px solid skyblue;
    border-radius:5px;
}

.container {
    min-width: 1230px;
}

.header {
    color: #444;
    font-size: 2.4em;
}

header, footer {
    padding: 25px 0 35px;
    background: #fff;
    line-height: 30px;
    text-align:center;
    height: 250px;
    font-size: 3em;
    vertical-align: baseline;
}

footer {
    height:75px;
}

header h1 {
    font-size: 3.5rem;
    padding: 60px;
}

.placeholder p {
    padding: 13% 0 35px;
    background: #fff;
    line-height: 30px;
    text-align:center;
    height: 500px;
    font-size: 3em;
}

.team-buttons button {
    margin: 8px;
    transition: all .2s ease-in-out;
    border: 3px solid skyblue;
    font-size: 1.3em;
}

.team-buttons button:hover {
    background-color:red;
    border: 3px solid darkred;
    transform: scale(1.05);
}

#help {
    background: transparent;
}

#follow-teams {
    min-height: 475px;
    padding: 20px;
    background-color: white;
}

#entertainment{
    padding: 20px;
}

td, h1, th {
    text-align: center;
}

#nav1
{  
    background-color:rgba(255, 0, 0, .7);
    color:white;    
}

#nav1 a {
    color:white;
}

.current-score-table {
    background-color: #1362A4;
    color:white;
}

.current-score-table td {
    background-color: #d6e0f5;
    color: #444;
}

.yesterday-games-table {
    background-color:#ffff4d;
    color: #444;
}

.yesterday-games-table td {
    background-color: #ffffe6;
    color: #444;
}

.yesterday-games-table th {
    font-size: 1.2em;
}

.tomorrow-games-table {
    background-color:#39e600;
    color: #444;
}

.tomorrow-games-table td {
    background-color: #ecffe6;
    color: #444;
}

.tomorrow-games-table th {
    font-size: 1.2em;
}

.header {
    color: #444;
}

.section-style {
    border-top: 11px solid red;
    border-bottom: 11px solid red;
}

.cantseeme {
    color: white;
    background-color: #1362A4;
    opacity: .80;
}

.cantseeme1 {
    color: white;
    background-color: red;
    opacity: .80;
}

/*Follow Teams Section*/
.current-score-table {
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear; /* Safari */
    animation: spin 2s linear;
}

/* @-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */



