@font-face {
    font-family: "Dusha V5";
    src: url(worldcupfont.ttf);
}

.container {
    min-width: 1230px;
}

body{
    font-family: "Dusha V5", sans-serif;
}

.header {
    color: #444;
    font-size: 2.4em;
}

header, footer {
    padding: 25px 0 35px;
    background: #fff;
    line-height: 30px;
    text-align:center;
    height: 250px;
    font-size: 3em;
    vertical-align: baseline;
}

header h1 {
    font-size: 3.5rem;
    padding: 60px;
}

.placeholder p {
    padding: 13% 0 35px;
    background: #fff;
    line-height: 30px;
    text-align:center;
    height: 500px;
    font-size: 3em;
}

td, h1, th {
    text-align: center;
}

#nav1
{  
    background-color:#F00;
    opacity: 0.5; 
    filter:(opacity=50);       
}

.current-score-table {
    background-color: #1362A4;
    color:white;
}

.current-score-table td {
    background-color: #d6e0f5;
    color: #444;
}

.yesterday-games-table {
    background-color:#ffff4d;
    color: #444;
}

.yesterday-games-table td {
    background-color: #ffffe6;
    color: #444;
}

.yesterday-games-table th {
    font-size: 1.2em;
}

.tomorrow-games-table {
    background-color:#39e600;
    color: #444;
}

.tomorrow-games-table td {
    background-color: #ecffe6;
    color: #444;
}

.tomorrow-games-table th {
    font-size: 1.2em;
}


